.App {
    position: relative;
    text-align: center;
    background: #111;
    min-height: 100vh;
    overflow: hidden;
    font-family: 'Galindo', cursive;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 50px;
    padding: 20px;
    color: white;
}

.App-title {
    display: inline-block;
    margin-right: 10%;
    font-family: 'Jua', sans-serif;
    font-size: 50px;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.App-score {
    display: inline-block;
    margin-right: 5%;
    font-size: larger;
}

.App-highScore {
    display: inline-block;
    font-size: larger;
    margin-right: 5%;
}

.App-settingsButton {
    position: relative;
    width: 32px;
    cursor: pointer;
}

.container {
    width: 60%;
    height: 100%;
    margin: auto;
}

@media screen and (max-width: 792px) {
    .container {
        width: 90%;
        margin-top: 10%
    }

    .App-title {
        margin: auto;
        font-size: 40px;
        margin-right: 20px;
    }

    .App-settingsButton {
        position: absolute;
        right: 20px;
        top: 30px;
    }

}